# wrangler.toml
name = "yd-mastra-agent-api"
main = "--import=./.mastra/output/instrumentation.mjs .mastra/output/index.mjs"
compatibility_date = "2025-11-12"
compatibility_flags = ["nodejs_compat"]

[vars]
OPENAI_API_KEY = "你的密钥"